<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Mata Kuliah</title>
<div th:replace="style :: style(active=${active})">
</div>

</head>
<body>
<div th:replace="header :: header(active=${active})">
</div>

<div class="container-md">	
<div class="my-4 p-8 bg-body rounded shadow-md">

<a th:href="@{'/matkul/add/'}" class="btn btn-primary btn-sm" tabindex="-1" role="button">Add Mata Kuliah</a>
<p> </p>

<div class="table-responsive">
<table class="table table-light table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID Mata Kuliah</th>
      <th scope="col">Nama Mata Kuliah</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="matkul : ${listMatkul}">
      <th scope="row" th:text="${matkul.id}"></th>
      <td th:text="${matkul.idMataKuliah}"></td>
      <td th:text="${matkul.namaMataKuliah}"></td>
      <td>
         <a th:href="@{/matkul/update/{id}(id=${matkul.id})}" class="btn btn-primary btn-sm" tabindex="-1" role="button" ><i class="fa fa-folder" ></i> Update </a>
         <a th:href="@{/matkul/delete/{id}(id=${matkul.id})}" class="btn btn-danger btn-sm" tabindex="-1" role="button" ><i class="fa fa-close"></i> Delete </a>
      </td>
    </tr>
    
  </tbody>
</table>
</div>
</div>
</div>

<div th:replace="script :: script(active=${active})">
</div>

</body>
</html>